     
name: CI/CD Pipeline

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal --filter FullyQualifiedName~OFICINACARDOZO.OSSERVICE.Tests
      - name: Publish
        run: dotnet publish -c Release -o ./publish
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_REGISTRY }}/oficinacardozo-osservice:${{ github.sha }} .
      - name: Login to Docker Registry
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login ${{ secrets.DOCKER_REGISTRY }} -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_REGISTRY }}/oficinacardozo-osservice:${{ github.sha }}
