name: CI/CD - OSService

on:
  push:
    branches: [ develop, homolog, master ]
  pull_request:
    branches: [ develop, homolog, master ]

jobs:
  build-test-deploy:
    name: Build, Test & Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Exibir Dockerfile usado no build
        run: cat OFICINACARDOZO.OSSERVICE/Dockerfile

      - name: Exibir entrypoint do Dockerfile
        run: grep ENTRYPOINT OFICINACARDOZO.OSSERVICE/Dockerfile

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Cache NuGet packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}

      - name: Restore, Build & Test
        run: |
          dotnet restore OFICINACARDOZO.OSSERVICE/OFICINACARDOZO.OSSERVICE.csproj --verbosity minimal
          dotnet build OFICINACARDOZO.OSSERVICE/OFICINACARDOZO.OSSERVICE.csproj --no-restore --configuration Release --verbosity minimal
          dotnet test OFICINACARDOZO.OSSERVICE/OFICINACARDOZO.OSSERVICE.csproj --no-build --configuration Release --verbosity minimal --logger "console;verbosity=minimal"

      - name: Exibir arquivos publicados
        run: ls -lh OFICINACARDOZO.OSSERVICE/publish || true


      - name: Build Docker image
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/homolog'
        run: docker build -t marciocardozodev/oficinacardozo-osservice:${{ github.sha }} -f OFICINACARDOZO.OSSERVICE/Dockerfile OFICINACARDOZO.OSSERVICE
      - name: Login no Docker Hub
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/homolog'
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Push Docker image
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/homolog'
        run: docker push marciocardozodev/oficinacardozo-osservice:${{ github.sha }}

      # Estrutura para deploy (K8s, ECS, etc) pode ser adicionada aqui
